H1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   background: #ffffff;
   color: maroon;
}

H2 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   background: #ffffff;
   color: black;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 16px;
   background: #ffffff;
   color: navy;
}
